/node_modules
/public/hot
/public/storage
/public/portal-test
/public/portal
/storage/*.key
/storage/fonts/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
/.env.development
_ide_helper.php

# Expliciet negeren van key-bestanden, voor de zekerheid, deze wil je niet in Git hebben.
secrets/oauth/*.key
