/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/fonts/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
/.env.development
_ide_helper.php
