.mybtn-success {
  color: $brand-success;
}

.mybtn-danger {
  color: $brand-danger;
}

.mybtn-grey {
  color: darkgrey;
}

.btn-padding-small {
  padding: 1px 5px;
}

.btn-loading {
  cursor: not-allowed;
}

.btn-group-flex {
  display: flex;
}

.btn-group-flex > button {
  z-index: 99;
}

.glyphicon-refresh-animate {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.glyphicon-refresh-centered {

}

.dropdown-menu > li > a {
  text-align: left;
}

.btn-success:focus {
  background-color: $brand-success !important;
}

