#dashboardbutton-red {
  background: $brand-primary;
  color: #FFF;
}

#dashboardbutton-blue {
  background: $brand-secundairy;
  color: #FFF;
}

#dashboardbutton-green {
  background: $brand-tertiary;
  color: #FFF;
}

#dashboardbutton-yellow {
  background-color: $brand-quaternary;
  color: #FFF;
}