#dashboardbutton-1 {
  background: $brand-primary;
  color: #FFF;
}

#dashboardbutton-2 {
  background: $brand-secundairy;
  color: #FFF;
}

#dashboardbutton-3 {
  background: $brand-tertiary;
  color: #FFF;
}

#dashboardbutton-4 {
  background-color: $brand-quaternary;
  color: #FFF;
}

#dashboardbutton-5 {
  background-color: $brand-quinary;
  color: #FFF;
}