.DayPickerInput-Overlay {
  z-index: 99;
}

.DataTableDateFilter>.DayPickerInput>span>.DayPickerInput-OverlayWrapper {
  position: absolute;
}

.DayPicker-overflow {
  overflow: visible;
}

.DayPickerInput {
  display: inline;
}

.DayPicker-Caption > div  {
  font-size: 16px;
}