.panel-financial-tree, .panel-invoices-list, .panel-orders-list {
  padding: 0;
}

.financial-tree, .invoices-list, .orders-list {
  height: 100vh;
  transition: left .3s ease-in-out;
  color: $brand-primary;
}

.financial-tree-link {
  color: $brand-primary;
  padding-left: 4em;
  padding-right: 8em;
  margin-left: -4em;
  margin-right: -8em;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

.send-invoices-list-link, .send-orders-list-link {
  color: $brand-primary;
  padding-left: 4em;
  padding-right: 8em;
  margin-left: -7em;
  margin-right: -8em;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

.send-invoices-list-link-error, .send-orders-list-link-error {
  color: red;
  padding-left: 4em;
  padding-right: 8em;
  margin-left: -7em;
  margin-right: -8em;

  &:hover {
    color: red;
    text-decoration: none;
  }

  &:focus {
    color: red;
    text-decoration: none;
  }
}

.financial-tree-sidebar-menu, .send-invoices-sidebar-menu, .send-orders-sidebar-menu {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding-bottom: 60px;
}
