.panel-financial-tree, .panel-invoices-list, .panel-orders-list, .panel-financial-overview-contacts-list, .panel-invoice-payments-list {
  padding: 0;
}

.financial-tree, .invoices-list, .orders-list, .financial-overview-contacts-list, .payment-invoices-list {
  height: 100vh;
  transition: left .3s ease-in-out;
  color: $brand-primary;
}

.financial-tree-link {
  text-overflow: ellipsis; /* will make [...] at the end */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
  position: absolute;
  left: 12px;
  margin-top: -12px;
  padding-right: 300px;
}

.financial-tree-link-header {
  text-overflow: ellipsis; /* will make [...] at the end */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
  position: absolute;
  left: 42px;
  margin-top: -10px;
}

.financial-tree-link, .financial-tree-link-header{
  color: $brand-primary;
  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

.send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
  color: $brand-primary;
  text-overflow: ellipsis; /* will make [...] at the end */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
  position: absolute;
  left: 12px;
  margin-top: -12px;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

.send-invoices-list-link-error, .send-orders-list-link-error, .send-financial-overview-contacts-list-link-error {
  color: red;
  text-overflow: ellipsis; /* will make [...] at the end */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
  position: absolute;
  left: 12px;
  margin-top: -12px;

  &:hover {
    color: red;
    text-decoration: none;
  }

  &:focus {
    color: red;
    text-decoration: none;
  }
}

.financial-tree-sidebar-menu, .send-invoices-sidebar-menu, .send-orders-sidebar-menu, .send-financial-overview-contacts-sidebar-menu, .send-payment-invoices-sidebar-menu {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding-bottom: 60px;
}

@media (min-width: 1160px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 12em;
  }
}

@media (min-width: 1260px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 14em;
  }
}

@media (min-width: 1360px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 16em;
  }
}

@media (min-width: 1460px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 18em;
  }
}

@media (min-width: 1560px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 20em;
  }
}

@media (min-width: 1660px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 22em;
  }
}

@media (min-width: 1760px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 24em;
  }
}

@media (min-width: 1860px) {
  .send-invoices-list-link, .send-orders-list-link, .send-financial-overview-contacts-list-link, .send-payment-invoices-list-link {
    max-width: 26em;
  }
}