.underline {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 3px;
}

.highlight-line {
  background-color: #f3f3f3 !important;
}

label.required:after {
  content: " *";
  color: $brand-danger;
  font-size: 18px;
}

.new-form {
  color: #f3f3f3 !important;
}

.has-error, .has-error .Select-control {
  border-color: $brand-danger;
  color: $brand-danger;
  background: pink;
}

.has-error-message {
  color: $brand-danger;
  font-size: 12px;
}

.item-border {
  border-top: 1px solid #d3e0e9;

  &:first-child {
    border-top: 0;
  }
}

textarea {
  resize: vertical;
  overflow-x: hidden;
}
