.underline {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 3px;
}

.highlight-line {
  background-color: #f3f3f3 !important;
}

.required-input{
  color: $brand-danger;
}

label.required:after {
  content: " *";
  color: $brand-danger;
  font-size: 18px;
}

.new-form {
  color: #f3f3f3 !important;
}

.has-error {
  border-color: $brand-danger;
  color: $brand-danger;
  background: pink;
}

.error-text {
  color: $brand-danger;
}

.item-border {
  border-top: 1px solid #d3e0e9;
}

.item-border:first-child {
  border-top: 0;
}
