.harmonica-button {
  background: $brand-primary;
  color: #fff;
}

.panel.panel-default.harmonica-button {
  margin-bottom: 0;
}

.harmonica-table {
  margin-top: 8px;
}

.harmonica-table tbody .clickable {
  cursor: pointer;
}

.modal-text{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
}

.list-white {
  background-color: #fff;
  color: $text-color;
}