.modal {
  display: inline;
  top: 20vh;
  height: 100vh;
}

.modal-header {
  background-color: $brand-primary;
  color: #fff;
  button {
    span {
      color: #fff;
    }
  }
}

.portal-layout-crop div.modal,
.portal-layout-add-widget div.modal,
{
  display: inline;
  top: 5vh;
  height: 95vh;
}
.modal-portal-layout-crop,
.modal-portal-layout-add-widget
{
  width: 90vw;
}
.modal-portal-layout-crop div.modal-content,
.modal-portal-layout-add-widget div.modal-content
{
   height: 80vh;
   overflow: scroll;
}

.search-modal {
  top: 10%;
}

.search-modal-dialog {
  width: 80%;
  max-height: 80%;
}

.search-modal-body {
  max-height: 600px;
  overflow-y: scroll;
}

.scrollable-modal-body {
  max-height: 75vh;
  overflow-y: scroll;
}

.close-modal {
  cursor: pointer;
  float: right;
}

.email-attachment-modal {
  top: 10%;
  overflow-y: scroll;
}

.filter-row {
  margin: 0 0 12px 0;
}

.modal-fullscreen {
  top: 0px;
  overflow-y: scroll;
}

.modal-fullscreen .modal-dialog {
  width: 95vw;
}

.modal-dialog-70vw {
  width: 70vw;
}

.submodal .modal-dialog {
  width: 700px;
}

.modal-align-top {
  top: 0px;
}