.navbar{
  margin-bottom: 0;
}

.navbar-nav {
  li{
    a{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.nav-item {
  padding-top: 5px;
  padding-bottom: 3px;
}

.glyphicon-menu-hamburger {
  font-size: 21px;
}

.close-menu-option-vertical {
  font-size: 21px;
}