.panel-heading {
  color: $brand-primary !important;
  border: 0;
}

.panel-footer {
  background-color: white;
}

.panel-grey
{
  position: relative;

  &:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
  }
}

.panel-small {
  padding: 5px;
}

.panel-no-border {
  border: 0;
}