.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  position: fixed;
  z-index: 999;
  top: 50px;
  left: 0px;
  height: 100vh;
  min-width: 42px;
  max-width: 42px;
  transition: left .3s ease-in-out;
  background-color: $brand-primary;
  color: #fff;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.content {
  //position: absolute;
  //top: 60px;
  //left: 42px;
  //right: 0;
  //height: 100vh;
  width: 100vw;
  //transition: left .2s ease-in-out;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar.open {
  left: 0;
  min-width: 240px;
  max-width: 240px;
}

.content.open {
  left: 240px;
}

.sidebar-menu {
  padding-top: 10px;
}

.sidebar-menu-small {
  padding-top: 11px;
}

.sidebar-menu-small-item {
  padding: 6px 12px;
}


