.sidebar-link {
  color: #fff;
  padding-left: 4em;
  padding-right: 8em;
  margin-left: -4em;
  margin-right: -8em;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:focus {
    color: #fff;
    text-decoration: none;
  }
}