.margin-10-top {
  margin-top: 10px;
}

.margin-20-top {
  margin-top: 20px;
}

.margin-30-top {
  margin-top: 30px;
}

.margin-10-bottom {
  margin-bottom: 10px;
}

.margin-20-bottom {
  margin-bottom: 20px;
}

.margin-30-bottom {
  margin-bottom: 30px;
}

.margin-10-left {
  margin-left: 10px;
}

.margin-20-left {
  margin-left: 20px;
}

.margin-30-left {
  margin-left: 30px;
}

.margin-10-right {
  margin-right: 10px;
}

.margin-20-right {
  margin-right: 20px;
}

.margin-30-right {
  margin-right: 30px;
}
