th, tr {
  font-size: $table-font-size;
}

th {
  font-weight: 600;
}

table {
  table-layout: fixed;
}

table th, table td {
  overflow: hidden;
}

.thead-title {
  background-color: $brand-primary;
  color: #fff;
}

.thead-title-secundairy {
  background-color: $brand-secundairy;
  color: #fff;
}

.thead-title-tertiary {
  background-color: $brand-tertiary;
  color: #fff;
}

.thead-title-quaternary {
  background-color: $brand-quaternary;
  color: #fff;
}

.thead-filter {
  background-color: #e5e5e5;
}

.table-title {
  margin: 0;
}

.highlight-row {
  background-color: #ffa !important;
}

.paid-order-product-row {
  background-color: #f2fcf8 !important;
}

.not-active-anymore-row {
  background-color: #fffeea !important;
}

.not-active-anymore-text {
  font-weight: bold !important;
}

.success-row {
  background-color: $brand-secundairy !important;
}
.success-row-light {
  background-color: #7be1a6 !important;
}

.error-row {
  background-color: #fc554e !important;
}

.warning-row {
  background-color: #f9fca3 !important;
}

.missing-data-row {
  background-color: rgba(255,140,0,0.2) !important;
}

.in-progress-row {
  background-color: #fc8233 !important;
}

.warning-td {
  background-color: rgba(255,140,0,0.2) !important;
  font-weight: bold;
}

.custom-col-width-12-5 {
  width: 12.5%;
}
.error-span {
  color: red;
}

