.upload-file-content {
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #d3e0e9;
  border-radius: 5px;
  width: auto; /* Full width */
  height: 150px; /* Full height */
}

.dropzone {
  width: auto;
  height:130px;
  padding: 10px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}
