// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./partials/login";
@import "./partials/nav";
@import "./partials/sidebar";
@import "./partials/sidebarmenu";
@import "./partials/table";
@import "./partials/daypicker_custom";
@import "./partials/modal";
@import "./partials/dashboard";
@import "./partials/form";
@import "./partials/button";
@import "./partials/loader";
@import "./partials/panel";
@import "./partials/harmonica";
@import "./partials/glyphicon";
@import "./partials/pagination";
@import "./partials/spacing";
@import "./partials/upload-file";

/* TEMPORARY */
body {
    padding-top: 60px;
}

.extra-space-above {
    padding-top: 10px;
}

.text-bold {
    font-weight: 600;
}

.badge {
    background-color: #fff;
    color: $brand-primary;
}

.link-underline {
    color: $brand-success;
    text-decoration: underline;
}

.border {
    border-bottom: 1px solid #F1EFF0
}

.header {
    color: #aaa;
    border-bottom: 2px solid #F1EFF0;
}

.margin-small {
    margin-top: 5px;
    margin-bottom: 5px;
}

