// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Component-vendor CSS (na bootstrap)
@import '~@trendmicro/react-sidenav/dist/react-sidenav.css';

// Let op: react-day-picker v9:
@import '~react-day-picker/dist/style.css';

@import "./partials/button";
@import "./partials/calendar";
@import "./partials/dashboard";
@import "./partials/daypicker_custom";
@import "./partials/draggable";
@import "./partials/financial";
@import "./partials/loading-screen";
@import "./partials/form";
//@import "./partials/glyphicon";
@import "./partials/harmonica";
@import "./partials/iframe";
@import "./partials/loader";
@import "./partials/login";
@import "./partials/modal";
@import "./partials/nav";
@import "./partials/pagination";
@import "./partials/panel";
@import "./partials/pdf_viewer";
@import "./partials/preview_portal";
@import "./partials/sidebar";
@import "./partials/sidebarmenu";
@import "./partials/spacing";
@import "./partials/table";
@import "./partials/toggle";
@import "./partials/upload-file";

/* TEMPORARY */
body {
    padding-top: 60px;
    overflow-wrap: break-word;
}

.text-bold {
    font-weight: 700;
}

.badge {
    background-color: #fff;
    color: $brand-primary;
}

.link-underline {
    color: $brand-success;
    text-decoration: underline;
}

.border {
    border-bottom: 1px solid #F1EFF0
}

.header {
    color: $header-color !important;
    font-weight: normal;
    border-bottom: 2px solid #F1EFF0;
}

.margin-small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.field-to-be-removed {
    color: #fc1300;
}

.row {
    color: $text-color;
}

label {
    color: $header-color;
    font-weight: normal;
}

h5, .h5 {
    color: $header-color;
}

.pre-wrap {
    white-space: pre-wrap;
}
.no-padding {
    padding: 0 !important;
}

.img-thumbnail {
    padding-left: 20px;
    padding-right:20px;
}