// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./partials/login";
@import "./partials/nav";
@import "./partials/sidebar";
@import "./partials/sidebarmenu";
@import "./partials/table";
@import "./partials/daypicker_custom";
@import "./partials/modal";
@import "./partials/dashboard";
@import "./partials/form";
@import "./partials/button";
@import "./partials/loader";
@import "./partials/panel";
@import "./partials/harmonica";
@import "./partials/glyphicon";

/* TEMPORARY */
body {
    padding-top: 60px;
}

.extra-space-above {
    padding-top: 10px;
}

.text-bold {
    font-weight: 600;
}

.badge {
    background-color: #fff;
    color: $brand-primary;
}





