.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox:before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox:after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.body {
  background-color: #034b8c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 75, 140, 0.9)), to(rgba(3, 75, 140, 0.9))), url('../images/page-head5.jpg');
  background-image: linear-gradient(180deg, rgba(3, 75, 140, 0.9), rgba(3, 75, 140, 0.9)), url('../images/page-head5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  font-family: Montserrat, sans-serif;
  color: #333;
}

.full-page-section {
  position: relative;
  min-height: 100vh;
}

.div-block {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  max-width: 480px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-input {
  width: 100%;
  min-width: 280px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 7px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.text-input::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-input:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-input::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-input.content {
  border-style: none;
  background-color: rgba(0, 0, 0, 0.03);
  color: #1d1d1d;
  font-weight: 500;
  text-align: left;
}

.text-input.content::-webkit-input-placeholder {
  color: rgba(29, 29, 29, 0.5);
}

.text-input.content:-ms-input-placeholder {
  color: rgba(29, 29, 29, 0.5);
}

.text-input.content::-ms-input-placeholder {
  color: rgba(29, 29, 29, 0.5);
}

.text-input.content::placeholder {
  color: rgba(29, 29, 29, 0.5);
}

.text-input.content._w-40 {
  display: inline-block;
  width: 25%;
  min-width: 40px;
  margin-right: 10px;
}

.text-input.content._w-40.clear-right {
  display: inline-block;
}

.text-input.content._w-90 {
  display: inline-block;
  width: 92%;
  min-width: 60px;
}

.text-input.content._w-70 {
  display: inline-block;
  width: 72%;
  min-width: 40px;
}

.text-input.content._w-50 {
  display: inline-block;
  width: 48%;
  min-width: 40px;
  margin-right: 2%;
}

.w-select.content._w-40 {
  display: inline-block;
  width: 25%;
  min-width: 40px;
  margin-right: 10px;
}

.image {
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  max-width: 480px;
  min-height: 20px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.2);
}

.button {
  margin-right: 10px;
}

.paragraph {
  color: red;
}

/*.login-button {*/
/*  width: 100%;*/
/*  min-width: 240px;*/
/*  border-radius: 7px;*/
/*  background-color: #fff;*/
/*  color: #034b8c;*/
/*  font-weight: 600;*/
/*  text-align: center;*/
/*}*/

/*.heading-login-white {*/
/*  margin-top: 20px;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*}*/

/*.login-text-white {*/
/*  margin-bottom: 10px;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*}*/

.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.account-item {
  width: 100%;
  min-width: 240px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}

.header-deltaw {
  position: relative;
  height: 128px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 75, 140, 0.9)), to(rgba(3, 75, 140, 0.9))), url('../images/page-head5.jpg');
  background-image: linear-gradient(180deg, rgba(3, 75, 140, 0.9), rgba(3, 75, 140, 0.9)), url('../images/page-head5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.icon {
  color: #fff;
}

.nav-menu {
  z-index: 8;
  width: 80vw;
  background-color: #034b8c;
}

/*.nav-link {*/
/*  margin-left: 20px;*/
/*  color: #fff;*/
/*  font-size: 16px;*/
/*  text-shadow: none;*/
/*}*/

/*.nav-link.w--current {*/
/*  border-left: 1px solid #fff;*/
/*  color: #fff;*/
/*}*/

.heading.in-menu {
  margin-top: 100px;
  margin-left: 40px;
  padding-left: 20px;
  font-family: 'Droid Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: left;
  text-shadow: none;
}

.body-2 {
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
}

.menu-button {
  width: auto;
}

.menu-button.w--open {
  z-index: 10;
  background-color: transparent;
}

.profile-pic {
  position: absolute;
  left: 50%;
  bottom: -60px;
  width: 120px;
  height: 120px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: rgba(3, 75, 140, 0.9);
  background-image: url('../images/user.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.profile-pic.corporate {
  background-color: #034b8c;
  background-image: url('../images/logo.png');
  background-size: 80px;
}

.heading-content {
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: 'Droid Sans', sans-serif;
  color: rgba(51, 51, 51, 0.5);
  text-transform: none;
  text-shadow: none;
}

.heading-content.inline {
  margin-top: 1px;
}

.text-block {
  margin-bottom: 10px;
  color: #1d1d1d;
  font-weight: 500;
  text-shadow: none;
}

.content-heading {
  color: #034b8c;
  font-size: 24px;
  font-weight: 400;
  text-shadow: none;
}

/*.save-btn {*/
/*  width: 100%;*/
/*  margin-top: 40px;*/
/*  border-radius: 7px;*/
/*  background-color: #00d371;*/
/*  text-align: center;*/
/*}*/

.checkbox-label {
  font-weight: 500;
  text-shadow: none;
}

.checkbox-fld {
  margin-bottom: 10px;
  padding-left: 0px;
}

.link-content {
  color: #00d371;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/*.content-section {*/
/*  padding-top: 100px;*/
/*  padding-bottom: 60px;*/
/*  border-radius: 7px;*/
/*}*/

.field-label {
  margin-top: 40px;
  font-family: 'Droid Sans', sans-serif;
  color: rgba(29, 29, 29, 0.5);
  font-size: 12px;
  text-shadow: none;
}

.current_es_wrapper {
  margin-right: 0px;
  margin-left: 0px;
  padding: 12px 16px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.03);
}

.h3 {
  margin-top: 0px;
  color: #034b8c;
  font-size: 18px;
  font-weight: 500;
  text-shadow: none;
}

.note {
  margin: 8px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd8d8;
  background-color: #fff;
  font-family: Inconsolata, monospace;
  color: red;
}

.select-field {
  border: 1px none #000;
}

.selec {
  border: 1px none #000;
}

.succes-msg {
  min-width: 280px;
  border-left: 4px solid #00d371;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  color: #1d1d1d;
  text-align: left;
}

.error-message {
  border-left: 4px solid #ffae00;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  color: #1d1d1d;
  text-align: left;
}

.white {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.checkbox {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

@media (max-width: 991px) {
  .text-input.content._w-90 {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .text-input.content._w-70 {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .text-block {
    text-decoration: none;
  }
  .content-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .link-content {
    color: #00d371;
    text-decoration: none;
  }
  .select-field {
    font-weight: 500;
  }
}

@media (max-width: 479px) {
  .body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 75, 140, 0.9)), to(rgba(3, 75, 140, 0.9))), url('../images/page-head5.jpg');
    background-image: linear-gradient(180deg, rgba(3, 75, 140, 0.9), rgba(3, 75, 140, 0.9)), url('../images/page-head5.jpg');
    background-position: 0px 0px, 100% 50%;
  }
  .div-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-input {
    min-width: 240px;
  }
  .text-input.content._w-40 {
    width: 100%;
  }
  .text-input.content._w-40._w-40-mob {
    width: 25%;
  }
  .text-input.content._w-90 {
    width: 100%;
  }
  .text-input.content._w-90._w-90-mob {
    width: 91%;
  }
  .text-input.content._w-70 {
    width: 100%;
  }
  .text-input.content._w-70._w-70-mob {
    width: 71%;
  }
  .text-input.content._w-50 {
    display: inline-block;
  }
  .button {
    margin-bottom: 10px;
  }
  .login-button {
    cursor: pointer;
  }
  .header-deltaw {
    position: relative;
    height: 128px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
  }
  .container {
    background-color: rgba(3, 75, 140, 0);
  }
  .icon {
    color: #fff;
  }
  .nav-menu {
    width: 100%;
    background-color: #034b8c;
  }
  .nav-link {
    display: block;
    margin-left: 40px;
    line-height: 32px;
  }
  .nav-link.w--current {
    border-left: 1px solid #fff;
    color: #fff;
  }
  .heading {
    margin-left: 40px;
    padding-left: 20px;
    text-align: left;
  }
  .heading.in-menu {
    margin-top: 100px;
  }
  .menu-button.w--open {
    background-color: #034b8c;
  }
  .profile-pic {
    position: absolute;
    left: 50%;
    top: auto;
    right: auto;
    bottom: -60px;
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  .heading-content {
    margin-bottom: 0px;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.checkbox+span {
  position: relative;
  cursor: pointer;
  padding: 0;
}
/* Box */
.checkbox+span:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background: transparent;
  border: solid 2px #003F79;
  border-radius: 3px;
}
/* Box hover */
.checkbox:hover+span:before {
  /* background: #003F79; */
}
/* Box checked */
.checkbox:checked+span:before {
  background: #003F79;
}
/* Disabled state label */
.checkbox:disabled+span {
  color: #b8b8b8;
  cursor: auto;
}
/* Disabled box */
.checkbox:disabled+span:before {
  box-shadow: none;
  background: #ddd;
}

.checkbox-disabled {
  pointer-events: none;
}
/* Checkmark */
.checkbox:checked+span:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}