:root {
    --main-primary-color: #034b8c;
    --main-secondary-color: #3898EC;
    --main-warning-color: #dc3545;
    --button-primary-color: #3898EC;
    --black-color: #252525;
}

/* ----------------- LOGIN STYLING -----------------*/
.login-button {
    width: 100%;
    min-width: 240px;
    border-radius: 7px;
    background-color: #fff;
    color: #034b8c;
    font-weight: 600;
    text-align: center;
}

.heading-login-white {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.login-text-white {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

/* ----------------- GENERAL STYLING -----------------*/
.content-section {
    padding-top: 80px;
    padding-bottom: 60px;
}

.content-heading {
    color: #034b8c;
    font-size: 24px;
    font-weight: 400;
    text-shadow: none;
}

.text-block {
    padding-top: .375rem;
    padding-bottom: .375rem;
    min-height: 28px;
}

.text-block.placeholder {
    padding: 2px 12px;
}

.text-block > .placeholder-message {
    color: #999;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 4px 3px;
    min-height: 28px;
}

/* ----------------- INPUT STYLING -----------------*/
.has-error {
    border: 1px solid var(--main-warning-color) !important;
    color: red !important;
}

.error-message {
    color: var(--main-warning-color);
    font-size: 11px;
}

/* ----------------- LABEL STYLING -----------------*/
.field-label {
    margin-top: 20px;
    /*font-family: 'Droid Sans', sans-serif;*/
    /*color: rgba(29, 29, 29, 0.5);*/
    /*font-size: 12px;*/
    /*text-shadow: none;*/
}

/* ----------------- BUTTON STYLING -----------------*/
.w-button {
    background-color: var(--button-primary-color);
    color: white;
}

.save-btn {
    background-color: #00d371;
    border: #00ac5c;
}

.save-btn:hover, .save-btn:active {
    background-color: #00ac5c !important;
    border: #00ac5c !important;
    color: white;
}

/* ----------------- Start HEADING MENU STYLING -----------------*/
.heading.in-menu {
    margin-top: 100px;
    padding-left: 20px;
    font-family: 'Droid Sans', sans-serif;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: left;
    text-shadow: none;
}

.nav-link {
    color: #fff;
    font-size: 1.15em;
}

.nav-link:hover {
    color: #fff;
    text-shadow: none;
}

.nav-link.w--current {
    border-left: 1px solid #fff;
    color: #fff;
}


/* ----------------- Start HAMBURGER MENU STYLING -----------------*/
/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 24px;
    height: 20px;
    margin: 20px;
    z-index: 1000;
    cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    position: absolute;
    height: 3px;
    left: 0px;
    right: 0px;
    opacity: 1;
    background: white;
    border-radius: 5px;
}

.bm-burger-bar-1 {
    top: 0;
}

.bm-burger-bar-2 {
    top: 40%;
}

.bm-burger-bar-3 {
    top: 80%;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: rgba(255, 255, 255, 0.9);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background-color: var(--main-primary-color);
    padding: 0.5em 1.5em 0;
    /*font-size: 1.15em;*/
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

.bm-overlay {
    top: 0;
    left: 0;
    background: transparent !important;
    z-index: 9999;
}
.bm-menu-wrap {
    top: 0;
}


/* ----------------- End HAMBURGER MENU STYLING -----------------*/

/* ----------------- Start ARROW STEPS STYLING -----------------*/
/* Arrows CSS https://codepen.io/polinovskyi/pen/embZmw */

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 200px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
    margin-bottom: 4px;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: var(--main-primary-color);
}

.arrow-steps .step.current:after {
    border-left: 17px solid var(--main-primary-color);
}

@media screen and (max-width: 992px) {
    .arrow-steps .step {
        font-size: 13px;
        padding: 8px 8px 8px 24px;
        min-width: 140px;
    }

    .arrow-steps .step:after,
    .arrow-steps .step:before {
        border-bottom: 17px solid transparent;
    }
}

@media screen and (max-width: 768px) {
    .arrow-steps .step {
        font-size: 11px;
        padding: 8px 8px 8px 18px;
        min-width: 80px;
    }

    .arrow-steps .step:after,
    .arrow-steps .step:before {
        border-bottom: 17px solid transparent;
    }
}

@media screen and (max-width: 576px) {
    .arrow-steps .step {
        font-size: 10px;
        padding: 8px 8px 8px 18px;
        min-width: 70px;
    }

    .arrow-steps .step:after,
    .arrow-steps .step:before {
        border-bottom: 17px solid transparent;
    }
}

/* ----------------- End ARROW STEPS STYLING -----------------*/

/* ----------------- End DAY PICKER STYLING -----------------*/
.DayPickerInput-Overlay {
    z-index: 99;
    position: absolute;
    left: 0;
    z-index: 1;

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.DataTableDateFilter > .DayPickerInput > .DayPickerInput-OverlayWrapper {
    position: absolute;
}

.DayPicker-overflow {
    overflow: visible;
}

.DayPickerInput {
    display: inline;
}

.DayPicker-Caption > div {
    font-size: 1.2em;
}

.DayPicker {
    display: inline-block;
    font-size: .9em;
}

/* ----------------- End DAY PICKER STYLING -----------------*/

/* ----------------- PROFILE PIC STYLING -----------------*/
.profile-pic {
    position: absolute;
    left: 50%;
    bottom: -60px;
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    background-color: rgba(3, 75, 140, 1);
    /*background-image: url('../images/user.png');*/
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    text-wrap: normal;
}


.profile-pic .profile-title {
    color: white;
    font-weight: bold;
    width: 110px;
    white-space: wrap;
}

.profile-pic .profile-sub-title {
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
}

/* ----------------- LOGO STYLING -----------------*/
header .header-logo {
    max-width: 100px;
    padding: 10px 0;
}

/* ----------------- DROPDOWN USER STYLING -----------------*/
.dropdown-toggle {
    margin-top: 10px;
    background: transparent;
    border: 0;
}

.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:hover {
    background: transparent;
    border: 0;
}

.btn-primary.dropdown-toggle {
    background: transparent !important;
    border: 0;
}

.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    font-size: 14px;
}

.dropdown-item > a {
    color: var(--black-color);
}

.dropdown-item:hover {
    text-decoration: none;
    background: var(--main-primary-color);
    color: white;
}

.dropdown-item.active {
    background: var(--main-secondary-color);
}
